<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWACS - App Early Warning And Control System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/awacs/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/awacs/static/img/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 2px;
        }
        .color_0 {
            background-color: #ffffff;
        }
        .color_1 {
            background-color: #aaffa6;
        }
        .color_-1 {
            background-color: #ffcec6;
        }
    </style>


</head>
<body>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6"> See full interactive report <a href="http://146.148.39.215/awacs/" target="_blank">here</a> </div>
            <div class="col-md-5"></div>

        </div>

        <div class="row">
            <br/>
        </div>


        <div class="row">
            <!--Section Header containing optional buttons & filters specific to the section-->
            <div class="col-md-1"></div>
            <div class="col-md-6"> <H3> Geo Analysis </H3> </div>
            <div class="col-md-5"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <blockquote>Each parameter related to <i>app installs</i> is compared to its normal distribution of
                last 10 days. A parameter is highlighted if it falls in <i>+- 95% Confidence Interval</i>.</blockquote>
            </div>
        </div>


        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="geo_results">
                    <thead>
                        <tr>
                            <th colspan="6" style="text-align: center"> App Install</th>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <th>Total Installs</th>
                            <th>Play Store</th>
                            <th>Local Apk</th>
                            <th>Unique Users</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if template_values.geo_data|length == 0 %}
						<tr>
							<td colspan="6" class="text-center">No Data Found</td>
						</tr>
						{% else %}

						{% for rw in template_values.geo_data %}
                        <tr>
                            <td>{{ rw.country }}</td>
                            <td class="color_{{ rw.installs_status }}">{{ "{:,.0f}".format(rw.installs_c_mean) }}</td>
                            <td class="color_{{ rw.play_store_installs_status }}">{{ "{:,.0f}".format(rw.play_store_installs_c_mean) }}</td>
                            <td class="color_{{ rw.local_apk_installs_status }}">{{ "{:,.0f}".format(rw.local_apk_installs_c_mean) }}</td>
                            <!--<td class="color_{{ rw.apps_status }}">{{ "{:,.0f}".format(rw.apps_c_mean) }}</td>-->
                            <td class="color_{{ rw.users_status }}">{{ "{:,.0f}".format(rw.users_c_mean) }}</td>
                        </tr>
                        {% endfor %}
						{% endif %}
                    </table>
                </div>
            <div class="col-md-1"></div>
            </div>

        <div class="row">
            <br/><br/>
        </div>

        <div class="row">
            <!--Section Header containing optional buttons & filters specific to the section-->
            <div class="col-md-1"></div>
            <div class="col-md-6"> <h3> Top App Analysis </h3> </div>
            <div class="col-md-5"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <blockquote>
                    Top Apps with retention less than geo specific retention number.
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="app_results">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Country</th>
                            <th>App Package</th>
                            <th>Category</th>
                            <th>Retention</th>
                            <th>D0</th>
                            <th>D1</th>
                            <th>D2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if template_values.app_data|length == 0 %}
						<tr>
							<td colspan="8" class="text-center">No Data Found</td>
						</tr>
						{% else %}

						{% for rw in template_values.app_data %}
                        <tr>
                            <td>{{ rw[7] }}</td>
                            <td>{{ rw[0] }}</td>
                            <td>{{ rw[1] }}</td>
                            <td>{{ rw[2] }}</td>
                            <td>{{ rw[3] }}</td>
                            <td>{{ rw[4] }}</td>
                            <td>{{ rw[5] }}</td>
                            <td>{{ rw[6] }}</td>
                        </tr>
                        {% endfor %}
						{% endif %}

                    </table>
                </div>
            <div class="col-md-1"></div>
            </div>


        <div class="row">
            <br/>
        </div>


        <div class="row">
            <!--Section Header containing optional buttons & filters specific to the section-->
            <div class="col-md-1"></div>
            <div class="col-md-6"> <h4> Affiliate App Analysis </h4> </div>
            <div class="col-md-5"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <blockquote>
                    Affiliate Apps where affiliate revenue is more than 5% of Geo's total revenue
                    showing an absolute dip of +10% in D1 retention.
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="affiliate_results">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Country</th>
                            <th>App Package</th>
                            <th>Retention</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if template_values.affiliate_data|length == 0 %}
						<tr>
							<td colspan="5" class="text-center">No Data Found</td>
						</tr>
						{% else %}

						{% for rw in template_values.affiliate_data %}
                        <tr>
                            <td>{{ rw.date }}</td>
                            <td>{{ rw.country }}</td>
                            <td>{{ rw.app_pkg }}</td>
                            <td>{{ rw.retention }}</td>
                            <td>{{ rw.deviation }}</td>
                        </tr>
                        {% endfor %}
						{% endif %}
                    </table>
                </div>
            <div class="col-md-1"></div>
            </div>

        <br/>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3"> AWACS</div>
            <div class="col-md-8"></div>
        </div>




</body>
</html>