<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AWACS - App Early Warning And Control Syatem</title>
    <link rel="icon" type="image/x-icon" href="/awacs/static/img/favicon.ico">
    <link rel="stylesheet" href="/awacs/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/awacs/static/css/style.css">
    <link rel="stylesheet" href="/awacs/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/awacs/static/css/shortpage.css">
    <!--[if IE]>
    	<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
		<style>

		</style>
  </head>

  <body style="min-height:1200px">
  	<!-- Header -->
  	<nav class="navbar" role="navigation">
  		<div class="container">
  			<a href="http://www.bluestacks.com/" class="logo text-hide" title="BlueStacks" style="background: url('/awacs/static/img/logo-bluestacks.svg') no-repeat left top">BlueStacks</a>
  		</div>
  	</nav>
    <!-- End Header -->

    <div class="container" >

			<!-- Device Banner -->
      <div class="device-banner">
        <h2 style="color: #868889; text-align: center">BlueStacks AWACS - Manage Params</h2>
        <hr/>
			</div>
      <!-- End Device Banner -->

			<div class="row device-banner">

				<div class="col-md-12 text-center">
					<button class="btn btn-primary" data-toggle="modal" id="add" data-target="#myModal">Add Parameter</button>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="z-index: 2000;">
						<div class="modal-content">
							<form method="POST"  onsubmit="return submitForm();">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Create User</h4>
							</div>
							<div class="modal-body">

									<p style="color: black">Country :</p>
									<div style="padding-top: 10px">
										<input type="text" style="display: inline-block" class="form-control" id="country" placeholder="eg. KR" required="required"/>
									</div>


									<p style="color: black">installs Cutoff:</p>
									<div style="padding-top: 10px">
										<input type="text" style="display: inline-block" class="form-control" id="installs"  placeholder="eg. 2000" required="required"/>
									</div>


									<p style="color: black">D1 Retention Cutoff (%):</p>
									<div style="padding-top: 10px">
										<input type="text" style="display: inline-block" class="form-control" id="retention"  placeholder="eg. 60 "/>
									</div>


									<div id="response_div" style="padding-top: 10px; ">
										<p id="response_status" class="text-center">&nbsp;</p>
									</div>

									<!-- End of Create New User Form -->

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-primary" id="submit" value="Submit"/>
							</div>
							</form>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->


			<div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
			</div>


				<div class="col-md-12">
					<table class="table table-bordered table-striped">
						<tr>
							<th>Country</th>
							<th>installs</th>
							<th>Retention</th>
							<th style="width:80px;">Action</th>
						</tr>

						{% if template_values.params|length == 0 %}
						<tr>
							<td colspan="8" class="text-center">No Params Found</td>
						</tr>
						{% else %}

						{% for country, param in template_values.params.items() %}
						<tr>
							<td>{{ param.country }}</td>
							<td>{{ param.installs }}</td>
                            <td>{{ param.retention }}</td>
							<td class="text-center">
								<span class="glyphicon glyphicon-edit edit" data-country="{{ param.country }}" data-installs="{{ param.installs }}" data-retention="{{ param.retention }}" aria-hidden="true"></span>
								&nbsp; &nbsp;
								<span class="glyphicon glyphicon-remove remove" data-country="{{ param.country }}" aria-hidden="true"></span></td>
						</tr>
						{% endfor %}
						{% endif %}

					</table>
				</div>
			</div>
		</div>

		<form id="general_form" method="post">
			<input type="hidden"  id="c_country" name="country"/>
            <input type="hidden"  id="c_installs" name="installs"/>
            <input type="hidden"  id="c_retention" name="retention"/>
		</form>

    <script src="/awacs/static/js/jquery.min.js"></script>
    <script src="/awacs/static/js/bootstrap.min.js"></script>
	  <script src="/awacs/static/js/jquery-ui.min.js"></script>
	  <script src="/awacs/static/js/jquery.ui.touch-punch.min.js"></script>
	  <script>

			function submitForm() {

				$('#submit').prop('disabled', true);
				$('#submit').html('Submitting...');
				$('#response').css('display','none');

				$.ajax({
					type: "POST",
					url: "/awacs/create_param/",
					data: {
						country: $('#country').val(),
						installs: $('#installs').val(),
						retention: $('#retention').val()
					}
				})
				.done(function (t) {
                    t = JSON.parse(t);
					if (t.status == "success") {
						$('#submit').prop('disabled', false);
						$('#submit').html('Submit');
						$('#response_status').html('Server Message: '+t.message);
						window.location="/awacs/get_params/";
					}
					else {
						//$('#response_div').css('display','block');
						$('#submit').prop('disabled', false);
						$('#submit').html('Submit');
						$('#response_status').html('Server Message: '+t.message);

					}
				})
				.fail(function() {
					//$('#response_div').css('display','block');
					$('#submit').prop('disabled', false);
					$('#submit').html('Subit');
					var html = "Status: Server Error" ;
					$('#response_status').html(html);

				});
				return false;
			}


    	$(function() {
        $( "#sortable1, #sortable2" ).sortable({
    		connectWith: ".connectedSortable"
    		}).disableSelection();
    		$("#sortable1, #sortable2").draggable();

				$('.remove').click(function(){
					if (confirm('Are you sure you want to delete record!')) {
          	            var country = $(this).attr('data-country');

                        var general_form = $('#general_form'); //.get(0);

                        general_form.attr('action', '/awacs/delete_param/');
                        general_form.attr('method', 'POST');
                        general_form.find('input[id="c_country"]').val(country);
                        general_form.submit();
                    }
                });

				$('#add').click(function() {
                    $('#response_status').html('&nbsp;');
					$('#country').val('');
				    $('#installs').val('');
					$('#retention').val('');
				});

				$('.edit').click(function(){
                    $('#response_status').html('&nbsp;');

					var country = $(this).attr('data-country');
                    var installs = $(this).attr('data-installs');
                    var retention = $(this).attr('data-retention');
					$('#country').val(country);
				    $('#installs').val(installs);
					$('#retention').val(retention);
					$('#myModal').modal('show');
				});

        });
		</script>

  </body>
</html>