/* Style for Blustacks */

/* Oxygen Web Font */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

a, a:visited, a:hover, a:hover, a:focus{ 
    text-decoration: none;
    cursor:pointer;
}
body{
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
}
.navbar{
	padding: 15px 0;
}
.logo{
	width: 173px;
	height: 49px;
	display: block;
	background: url('/awacs/static/img/logo-bluestacks.svg') no-repeat left top;
	float: left;
}
.signIn{
	float: right;
	font-size: 18px;
	color: #77b4d3;
	font-weight: 100;
	margin-top: 10px;
}
.signIn:hover{
	color: #13262f;
    text-decoration:none;
}
.bannerBox{
	margin-top: 165px;
	
}
.phone{
	width: 116px;
	height: 225px;
	background: url('../images/animation01-frame.gif') no-repeat left top;
	display: block;
	margin:20px 18px 0 85px;
	float: left;
	position: relative;
}
.phone.actAnim{
	background: url('../images/diviceMobAnim.gif') no-repeat left top;
}
.info{
	font-size: 18px;
	font-weight: 100;
	color: #868889;
	line-height: 22px;
	position: absolute;
	left: -40px;
	top: 180px;
	padding-top: 90px;
	background: url('../images/clickArow.png') no-repeat 55px top;
}
.arrow{
	float: left;
	width: 45px;
	height: 31px;
	display: block;
	margin-top: 117px;
	position: relative;
	z-index: 5;
	background: url('../images/arrow.png') no-repeat left top;
}
.lap{
	width: 339px;
	height: 267px;
	display: block;
	margin-left:0;
	float: left;
	background: url('../images/diviceLap.png') no-repeat left top;
}
.lap.actAnim{
	background: url('../images/diviceLapAnim.gif') no-repeat left top;
}
 #sortable1 {
    float: left;
    list-style-type: none;
    margin: 17px 10px 5px 7px;
    min-height: 180px;
    padding: 5px 0 0;
    width: 102px;
	position: relative !important;
	left: 0 !important;
    top: 0 !important;
}
#sortable2 {
    float: left;
    list-style-type: none;
    margin: 15px 10px 0 53px;
    min-height: 152px;
	position: inherit !important;
    padding: 5px 0 0;
    width: 237px;
	position: relative !important;
	left: 0 !important;
    top: 0 !important;
}
/* Banner Download Area */
.banner-btnblock{
    width:30%;
    margin:0 auto;
    text-align:center;
    margin-top:0;
    float:left;
}
.banner-btnblock button{
    width:277px;
    height:78px;
    color:#fff;
    font-size:35px;
    text-align:center;
    line-height:78px;
    border:none;
    font-weight:300;
    margin:0 auto;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #93d3da; /* Old browsers */
	background: -moz-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #93d3da), color-stop(100%, #76b3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* IE10+ */
	background: linear-gradient(to right, #93d3da 0%, #76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3', GradientType=1 ); /* IE6-9 */
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease;
}
.banner-btnblock button:hover {
	background: #89cfd7; /* Old browsers */
	background: -moz-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #89cfd7), color-stop(100%, #70afd0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* IE10+ */
	background: linear-gradient(to right, #89cfd7 0%, #70afd0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89cfd7', endColorstr='#70afd0', GradientType=1 ); /* IE6-9 */
}
.banner-btnblock a{
    color:#77b4d3;
    font-size:18px;
    font-weight:400;
    margin:15px 50px 65px 50px;
    display:inline-block;
}
.banner-btnblock a:hover{
    text-decoration:none;
    color:#13262f;
}
.banner-btnblock h3{
    margin-top:140px;
}
.appplay-outer{
    width:100%;
    text-align:center;
    float:left;
}
.appplay-outer h6{
    color:#868889;
    font-size:18px;
    font-weight:300;
    margin:0;
    padding:0 0 25px 0;
}
.appplay-outer ul{
    padding:0;
    margin:0 auto;
    /*width:1420px;*/
	
	text-align: center;
	display: block;
}
.appplay-outer ul li{
    /*float:left;*/
    /*width:355px;*/
    height:197px;
    list-style:none;
	
	text-align: left;
	float: none;
	display: inline-block;
	width:100%
}
.appplay-outer ul li span{
    float:left;
}
/*--Download Latest Version Styles - 27th Jan,2015--*/
/*--A--*/
.download-latest-ver {
    margin: 0px auto;
    padding: 0px;
    display: block;
    text-align: center;
    font-family: "Oxygen",sans-serif;
}
.download-latest-ver h1 {
    font-size: 36px;
    line-height: 44px;
    color:#868889;
    text-align: center;
    margin-top: 98px;
}
.download-latest-ver .banner-btnblock {
    float: none;
    width: 100%;
}
.download-latest-ver .banner-btnblock h4 {
    margin: 46px 0 0 0;
    font-size: 20px;
    font-weight: 300;
    color: #89cde7;
    padding: 0px;
}
.download-latest-ver .banner-btnblock h3 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
.download-latest-ver .banner-btnblock a {
    margin-top: 40px;
}
/*--B--*/
.download-latest-verB {
    margin: 0px auto;
    padding: 0px;
    display: block;
    text-align: center;
    font-family: "Oxygen",sans-serif;
}
.download-latest-verB h1 {
    font-size: 36px;
    line-height: 44px;
    color:#868889;
    text-align: center;
    margin-top: 40px;
}
.download-latest-verB .banner-btnblock {
    float: none;
    width: 100%;
    display: block;
}
.download-latest-verB .banner-btnblock h4 {
    margin: 75px 0 0 0;
    font-size: 32px;
    font-family: "Oxygen",sans-serif;
    font-weight: 300;
    color: #89cde7;
    padding: 0px;
}
.download-latest-verB .banner-btnblock h3 {
    margin: 4px 0 0 0;
    padding: 0px;
    font-size: 48px;
    font-weight: 700;
}
.download-latest-verB .banner-btnblock a {
    margin-top: 32px;
    margin-bottom: 0px;
}

/*--End of DOwnload Latest Vesrion Styles--*/

.learnmore{
    background: url('../images/arrow-down.png') no-repeat right 7px;
    font-size:18px;
    font-weight:400;
    color:#868889;
    padding-right:28px;
    margin-bottom:35px;
    display:inline-block;
}
.learnmore:hover{
    color:#000;
    text-decoration:none;
}
/* Multitask block */
.mutitask-outer{
    width:100%;
    background:#fff;
    padding:40px 0 75px 0;
    float:left;
    width:100%;
}
.charactor-img{
    float:left;
}
.multitask-content{
    float:left;
    padding-left:150px;
    width:520px;
}
.multitask-content h3{
    color:#868889;
    font-size:36px;
    margin:0;
    font-weight:700;
    padding-top:75px;
}
.multitask-content p {
  color: #868889;
  float: left;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
}
/* Apps safe block */
.apps-safeblock{
    background:#90d1e7;
    padding:30px 0 50px;
    float:left;
    width:100%;
}
.apps-safeblock .app-safe-img{
    float:left;
}
.apps-safeblock .content{
    float:left;
    padding-top:150px;
    width:570px;
    padding-left:219px;
}
.apps-safeblock .content h3{
    color:#fff;
    font-size:36px;
    margin:0;
    font-weight:700;
    padding-bottom:5px
}
.apps-safeblock .content p{
    color:#fff;
    font-size:24px;
    font-weight:300;
    line-height: 26px;
}
/* Ready play block */
.ready-playblock{
    background:#fff;
    width:100%;
    float:left;
    text-align:center;
    padding:130px 0;
}
.ready-playblock button{
    width:277px;
    height:78px;
    color:#fff;
    font-size:35px;
    text-align:center;
    line-height:78px;
    border:none;
    font-weight:300;
    margin:0 auto;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #93d3da; /* Old browsers */
	background: -moz-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #93d3da), color-stop(100%, #76b3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* IE10+ */
	background: linear-gradient(to right, #93d3da 0%, #76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3', GradientType=1 ); /* IE6-9 */
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease;
}
.ready-playblock button:hover {
	background: #89cfd7; /* Old browsers */
	background: -moz-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #89cfd7), color-stop(100%, #70afd0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* IE10+ */
	background: linear-gradient(to right, #89cfd7 0%, #70afd0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89cfd7', endColorstr='#70afd0', GradientType=1 ); /* IE6-9 */
}
.ready-playblock h1{
    color:#89cde7;
    font-weight:700;
    font-size:80px;
    text-align:center;
    line-height:452px;
    margin:0;
}
.ready-playblock a{
    color:#89cde7;
    font-weight:700;
    font-size:80px;
    text-align:center;
    margin:0;
}
.ready-playblock h4 {
    margin: 0 0 0 0;
    font-size: 26px;
    font-weight: 300;
    color: #89cde7;
    padding: 15px;
}   
.ready-playblock a:hover{
    color:#218bb3;
    text-decoration:none;
}
/* Footer */
footer{
    width:100%;
    float:left;
    padding:30px 0 20px 0;
    background: #b7c0cc; /* Old browsers */
	background: -moz-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c7d0cd), color-stop(100%, #b4becb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* IE10+ */
	background: linear-gradient(to right, #c7d0cd 0%, #b4becb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d0cd', endColorstr='#b4becb', GradientType=1 ); /* IE6-9 */
}
footer ul{
    list-style:none;
    float:left;
    padding:18px 0 0 0;
    margin:0
}
footer ul li{
   float:left;
   padding:0 44px 0 0;
}

footer ul li a{
    color:#fff;
    font-size:15px;
}
footer ul li a:hover{
    color:#464646;
    text-decoration:none;
}
ul.socail-ftr{
    float:right;
    margin:0;
    padding:0 0 0;
    height:60px;
}
ul.socail-ftr li{
    padding: 0 0 30px;
    height:60px;
    margin:0 0 0 30px;
}
ul.socail-ftr li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a:hover{
    opacity:0.8;
}
ul.socail-ftr li a.facebook{
    background: url('/marketingemail/static/img/facebook_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.twitter{
    background: url('/marketingemail/static/img/twitter-circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.googleplus{
    background: url('/marketingemail/static/img/google_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob{
    margin:0 auto;
    padding:50px 0 0;
    width:28%;
}
ul.socail-ftr-mob li{
    padding: 0 15px;
    list-style:none;
    display:inline-block;
}
ul.socail-ftr-mob li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.facebook{
    background: url('/marketingemail/static/img/facebook_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.twitter{
    background: url('/marketingemail/static/img/twitter-circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.googleplus{
    background: url('/marketingemail/static/img/google_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
/* Footer */
footer{
    width:100%;
    float:left;
    padding:30px 0 20px 0;
    background: #b7c0cc; /* Old browsers */
	background: -moz-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c7d0cd), color-stop(100%, #b4becb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* IE10+ */
	background: linear-gradient(to right, #c7d0cd 0%, #b4becb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d0cd', endColorstr='#b4becb', GradientType=1 ); /* IE6-9 */
}
footer ul{
    list-style:none;
    float:left;
    padding:18px 0 0 0;
    margin:0
}
footer ul li{
   float:left;
   padding:0 44px 0 0;
}

footer ul li a{
    color:#fff;
    font-size:15px;
}
footer ul li a:hover{
    color:#464646;
    text-decoration:none;
}
ul.socail-ftr{
    float:right;
    margin:0;
    padding:0 0 0;
    height:60px;
}
ul.socail-ftr li{
    padding: 0 0 30px;
    height:60px;
    margin:0 0 0 30px;
}
ul.socail-ftr li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a:hover{
    opacity:0.8;
}
ul.socail-ftr li a.facebook{
    background: url('/marketingemail/static/img/facebook_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.twitter{
    background: url('/marketingemail/static/img/twitter-circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.googleplus{
    background: url('/marketingemail/static/img/google_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob{
    margin:0 auto;
    padding:50px 0 0;
    width:28%;
}
ul.socail-ftr-mob li{
    padding: 0 15px;
    list-style:none;
    display:inline-block;
}
ul.socail-ftr-mob li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.facebook{
    background: url('/marketingemail/static/img/facebook_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.twitter{
    background: url('/marketingemail/static/img/twitter-circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.googleplus{
    background: url('/marketingemail/static/img/google_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
/* Footer */
footer{
    width:100%;
    float:left;
    padding:30px 0 20px 0;
    background: #b7c0cc; /* Old browsers */
	background: -moz-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c7d0cd), color-stop(100%, #b4becb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* IE10+ */
	background: linear-gradient(to right, #c7d0cd 0%, #b4becb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d0cd', endColorstr='#b4becb', GradientType=1 ); /* IE6-9 */
}
footer ul{
    list-style:none;
    float:left;
    padding:18px 0 0 0;
    margin:0
}
footer ul li{
   float:left;
   padding-right:85px;
}
footer ul li a{
    color:#fff;
    font-size:15px;
}
footer ul li a:hover{
    color:#464646;
    text-decoration:none;
}
ul.socail-ftr{
    float:right;
    margin:0;
    padding:0 0 0;
    height:60px;
}
ul.socail-ftr li{
    padding: 0 0 30px;
    height:60px;
}
ul.socail-ftr li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a:hover{
    opacity:0.8;
}
ul.socail-ftr li a.facebook{
    background: url('/marketingemail/static/img/facebook_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.twitter{
    background: url('/marketingemail/static/img/twitter-circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.googleplus{
    background: url('/marketingemail/static/img/google_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob{
    margin:0 auto;
    padding:50px 0 0;
    width:28%;
}
ul.socail-ftr-mob li{
    padding: 0 15px;
    list-style:none;
    display:inline-block;
}
ul.socail-ftr-mob li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.facebook{
    background: url('/marketingemail/static/img/facebook_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.twitter{
    background: url('/marketingemail/static/img/twitter-circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.googleplus{
    background: url('/marketingemail/static/img/google_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}

/* Download page */
.download-banner{
    width:750px;
    margin:0 auto;
    padding-top:120px;
}
.download-banner h1{
    color:#868889;
    margin:0;
    font-size:36px;
    text-align:center;
}
.download-banner ul {
  float: left;
  padding: 90px 0 170px;
  width: 100%;
}
.download-banner ul li{
    float:left;
    list-style:none;
}
.download-banner ul li span{
    float:left;
    width:37px;
    height: 37px;
    background:#fff;
    border:solid 1px #8d8f90;
    text-align:center;
    line-height:37px;
    -webkit-border-radius: 37px;
	-moz-border-radius: 37px;
	border-radius: 37px;
    color:#868889;
    font-size:20px;
}
.download-banner ul li.step1{
    padding-right:25px;
    width:235px;
}
.download-banner ul li.step1 figure{
    margin-left:50px;
    float:left;
    padding-top:15px;
}
.download-banner ul li.step2{
    padding-right:45px;
    width:255px;
}
.download-banner ul li.step2 figure{
    margin-left:38px;
    float:left;
    padding-top:22px;
}
.download-banner ul li.step3{
    width:210px;
}
.download-banner ul li.step3 figure{
    margin-left:40px;
    float:left;
    padding-top:0;
}
.olympics-outer{
    float:left;
    width:100%;
    background:#000;
}
.olympics-outer .image{
    float:left;
}
.tesla-olympicblock h6{
    color:#868889;
    font-size:18px;
    text-align:center;
    padding-bottom:22px;
    margin:0;
}
.olympics-outer .content{
    float:left;
    padding-left:40px;
    width:455px;
}
.olympics-outer .content h2{
    margin:0;
    font-size:36px;
    color:#fff;
    padding:100px 0 0 0;
}
.olympics-outer .content h3{
    margin:0;
    color:#fff;
    font-size:24px;
}
.olympics-outer .content h4{
    margin:0;
    color:#fff;
    font-size:24px;
    padding-top:215px;
}
.banner-device-connected{
    padding-top:40px;
}

.banner-device-connected h5{
    text-align:center;
    margin:0;
    font-size:18px;
    color:#868889;
    padding-bottom:20px;
}
.banner-device-connected h6{
    text-align:center;
    margin:0;
    font-size:18px;
    color:#77b4d3;
    width:100%;
    float:left;
}
.banner-device-connected .device-mob{
     float:left;
    padding-left:32px;
    padding-right:16px;
    width:179px;
}
.banner-device-connected .device-lap{
    float:left;
    padding-right:17px;
    width:389px;
}
.banner-device-connected .device-lap figure{
    background: url('../images/diviceLap1.jpg');   
    width:369px;
    height:291px;
    margin-bottom:38px;
}
.banner-device-connected .device-lap figure .image{
    margin: 17px 50px 0 55px;
    float:left;
    width:265px;
    background: url('../images/game-bg.png');   
    height: 170px;
}
.banner-device-connected .device-mob figure{
    margin-bottom:62px;
    margin-top:49px;
    background: url('../images/diviceMob1.jpg');   
    width:131px;
    height:259px;
}
.banner-device-connected .device-mob figure .image{
    margin: 23px 5px 26px 6px;
    float:left;
    width:120px;
    background: url('../images/game-bg1.png');   
    height:210px;
}
.banner-device-connected .device-system{
     float:left;
    padding-left:15px;
    width:462px;
}
.banner-device-connected .device-system figure{
    background: url('../images/monitor.jpg');   
    width:445px;
    height:290px;
}
.banner-device-connected figure{
    float:left;
}
.banner-device-connected span{
    float:left;
}
.device-banner{
    width:1125px;
    margin:0 auto;
}
.device-banner h1 {
  color: #89cde2;
  font-size: 49px;
  font-weight: bold;
  line-height: 49px;
  margin-bottom: 30px;
  text-align: center;
}
.banner-device-connected .arrowblk{
    float: left;
	width: 45px;
	height: 31px;
	display: block;
	margin-top: 160px;
	background: url('../images/arrow2.png') no-repeat left top;    
}
.banner-device-connected .arrowblue{
    float: left;
	width: 45px;
	height: 31px;
	display: block;
	margin-top: 160px;
	background: url('../images/arrow1.png') no-repeat left top;  
}
.banner-device-connected .subtext{
    color:#868889;
    padding-top:36px;
}
.overlay{
	background:rgba(0,0,0,0.55);
	position:fixed;
	left:0;
	right:0;
	top:0;
	height:100%;
	z-index:900;
	display:none;	
}
.main-popup{
	background:#fff url(../images/dot-strip.jpg) center repeat-x;
	border: 1px solid #313131;
    left:0;
    padding: 4%;
    position: absolute;
    right:0;
	margin:0 auto;
    top: 3%;
    width: 90%;
    z-index: 1000;
	display:none;
}
.main-popup h3{
	color:#979899;
    text-align: left;
	font-size:16px;
	margin:2px;
}
.popup-left{
	width:100%;
	float:left;
}

.popup-right{
	width:100%;
	float:right;
}
.textbox form fieldset {
	border: none;
	margin: 0 auto;
	padding: 0;
}
.textbox form fieldset input {
	background: #fff;
	height: 30px;
	width: 100%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 6px;
	border: #cacace solid 1px;
	padding: 0 3%;
	color: #afaeb3;
	font-size: 14px;
	font-weight: 300;
	text-align:left;
}
.textbox form fieldset input:focus {
	background: #f7fbfd;
	color: #81bfd5;
}
.textbox {
	text-align:left;
	display: block;
	margin: 0 0 10px;
}
.popup-btnleft{
    margin:0 auto;
    text-align: left;
    margin:20px 0 25PX;
}
.popup-btnleft button{
    width:100%;
    height:42px;
    color:#fff;
    font-size:22px;
    text-align:center;
    border:none;
    font-weight:300;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #e96c69; /* Old browsers */
	background: -moz-linear-gradient(left,  #e96c69 0%, #ce4c62 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e96c69), color-stop(100%,#ce4c62)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e96c69 0%,#ce4c62 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e96c69 0%,#ce4c62 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e96c69 0%,#ce4c62 100%); /* IE10+ */
	background: linear-gradient(to right,  #e96c69 0%,#ce4c62 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96c69', endColorstr='#ce4c62',GradientType=1 ); /* IE6-9 */
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease;
}
.popup-btnleft button:hover {
	background: #e3605d; /* Old browsers */
	background: -moz-linear-gradient(left,  #e3605d 0%, #c43e55 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e3605d), color-stop(100%,#c43e55)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e3605d 0%,#c43e55 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e3605d 0%,#c43e55 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e3605d 0%,#c43e55 100%); /* IE10+ */
	background: linear-gradient(to right,  #e3605d 0%,#c43e55 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3605d', endColorstr='#c43e55',GradientType=1 ); /* IE6-9 */

}
.popup-btnright{
    margin:0 auto;
    text-align: left;
}
.popup-btnright button{
    width:100%;
    height:42px;
    color:#fff;
    font-size:22px;
    text-align:center;
    border:none;
    font-weight:300;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #93d3da; /* Old browsers */
	background: -moz-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #93d3da), color-stop(100%, #76b3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* IE10+ */
	background: linear-gradient(to right, #93d3da 0%, #76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3', GradientType=1 ); /* IE6-9 */
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease;
}
.popup-btnright button:hover {
	background: #89cfd7; /* Old browsers */
	background: -moz-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #89cfd7), color-stop(100%, #70afd0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* IE10+ */
	background: linear-gradient(to right, #89cfd7 0%, #70afd0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89cfd7', endColorstr='#70afd0', GradientType=1 ); /* IE6-9 */

}

.forgot a{
	display:block;
	font-weight:300;
	font-size:14px;
	color:#c3c3c4;
}
.forgot a:hover{
	color:#81bfd5;
}
.forgot label{
	display:block;
}
.close-btton{
	background:url(../images/close-grey.png) no-repeat center;
	float: right;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
	cursor:pointer;
}
.close-btton:hover{
	background:url(../images/close.png) no-repeat center;
}
.banner-left-block{
    float:left;
}
.banner-btnblock h3 {
    color: #89cde7;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
}
.learn-moreblock{
    text-align:center;
}
.main-popup h3{
    margin-bottom:20px;
}

.app-liabray{
    width:100%;
    text-align:center;
}
.flipper img{
    height:197px;
    padding: 1px, 1px, 1px, 1px;
}
 /*.flip-container:hover .flipper,  
        .flip-container.hover .flipper {
           -webkit-animation: flipInY 1s ease-in 1;
          -moz-animation: flipInY 1s ease-in 1;
          -ms-animation: flipInY 1s ease-in 1;
          -o-animation: flipInY 1s ease-in 1;
          animation: flipInY 1s ease-in 1;
            
      }
 @-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(300px);
            transform: perspective(300px);
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(300px);
            transform: perspective(300px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}*/

 .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  display:inline-block
}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
        padding: 1px, 1px, 1px, 1px;
	}
 .flip-container.active .flipper{
     -webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
        padding: 1px, 1px, 1px, 1px;
}
.flip-container, .front, .back {
    height:197px;
    padding: 1px, 1px, 1px, 1px;
}

.flipper {
	-webkit-transition: 0.7s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.7s;
	-moz-transform-style: preserve-3d;
   -o-transition: 0.7s;
	-o-transform-style: preserve-3d;
	transition: 0.7s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background: #fff;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
    z-index:2;
	background: #f8f8f8;
}

.inner-container{
    padding:30px 0;
}
.inner-container p{
    color: #868889;
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.banner-container .pull-right{
    float:right;
}
.banner-container .pull-right span {
  color: #89cde7;
  float: left;
  font-size: 20px;
  padding-top: 9px;
}
.banner-container .pull-right a{
    float:left;
}
.paly-moreblock{
	text-align: center;
}
.playmore {
    background: url("../images/arrow-down.png") no-repeat scroll right 7px rgba(0, 0, 0, 0);
    color: #868889;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 35px 0;
    padding-right: 28px;
}
/* banner Bouncing */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.star-rating-outer{
    width:200px;
    margin:0 auto;
    text-align:center;
    padding-bottom: 50px;
    position: relative;
}
.star-rating-outer .star{
    position: relative;
}
.star-rating-outer .votetext{
    display: none;
    color: green;
    font-size: 12px;
    position: absolute;
    width: 100%;
    margin-left: 0;
    top: -35px;
}
.star-rating-outer .star.tHide:after{
    width: 100%;
    height:25px;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    display: block;
    content: "";
}
.star-rating-outer .star span{
    display: inline-block;
    background: url("../images/star1.png") no-repeat left top;
    width:22px;
    cursor: pointer;
    height:21px;
    position: relative;
}
.star-rating-outer .star span.active-static:after,
.star-rating-outer .star span:hover:after,
.star-rating-outer .star .star-active:after, 
.star-rating-outer .star span.star-active:hover:after, 
.star-rating-outer .star span.active:after{
    display: inline-block;
    background: url("../images/star2.png") no-repeat left top;
    width:22px;
    height:21px;
    position: absolute;
    content: " ";
    left: 0;
    top:0;
}
.star-rating-outer .star .active-static.qtr:after{
    width:11px;
}
.star-rating-outer h6{
    font-size:14px;
    color:#333;
    font-weight:bold;
}
.star-rating-outer h5{
    font-size:14px;
    color:#333;
    font-weight:bold;
}
/* 10/02/15 */
.device-banner.chart h1{
    color: #89cde7;
    font-size: 49px;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}
.device-banner.chart{
    width: 1000px;
}
.chartTable .topBdr{
    height: 105px;
    text-align: center;
    position: relative;
    
}
.chartTable .topBdr:after{
    position: absolute;
    background: url('../images/chart-border.jpg') no-repeat right top;
    width: 2px;
    height: 104px;
    content: "";
    right: -4px;
    top: 0;
    display: block;
}
.chartTable .block01{
    width: 275px;
}
.chartTable .block02{
    width: 180px;
}
.chartTable .block03{
    width: 180px;
}
.chartTable .block04{
    width: 180px;
}
.chartTable .block05{
    width: 180px;
}
.chart-category{
    background: #93d3da; /* Old browsers */
    background: -moz-linear-gradient(left,  #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#93d3da), color-stop(100%,#76b3d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #93d3da 0%,#76b3d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #93d3da 0%,#76b3d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #93d3da 0%,#76b3d3 100%); /* IE10+ */
    background: linear-gradient(to right,  #93d3da 0%,#76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3',GradientType=1 ); /* IE6-9 */
}
.chart-category h3{
    font-size: 18px;
    margin: 0;
    color: #fff;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}
.chartTable{
    font-size: 14px;
    color: #868889;
    border-spacing: 0; 
    border-collapse: inherit;
}
.chartTable .head{
    background: transparent;
}
.chart-category .chartTable{
    border-spacing: 2px; 
    border-collapse: inherit;
}
.chart-category .rowColor td{
    background: #eff4f6;
}
.chart-category .rowColor td.whyt{
    background: #fff;
}
.chart-category td.whyt{
    background: #eff4f6; 
    
}
.chart-category td{
    background: #e5edf1;
    position: relative;
}
.chartTable td img{
    max-width: 100%;
}
.chart-category .blk:after{
    width: 100%;
    height: 2px;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    background: #e5edf1;
}
.chart-category .blk.whyt:after{
    background: #eff4f6;
}
.chartTable .blk{
    text-align: center;
    padding:5px 5px;
}
.chart-category .qaRight{
    text-align: right;
    font-size: 11px;
    color: #fff;
    line-height: 25px;
    padding: 0 30px 5px 0;
}
.appSubHead{
    font-size: 22px;
    font-weight: 100;
    color: #868889;
    text-align: center;
    margin: 5px 0 30px 0;
}
.appPlayerBanner{ 
    padding: 30px;
    width: 940px;
    margin: 0px auto;
    text-align: center;
}
.appPlayerBanner .mobApp{
    width: 147px;
    height: 289px;
    float: left;
    margin-top: 75px;
    margin-right: 30px;
    display:block;
    background: url('../images/app-phone.png') no-repeat 0 0;
}
.appPlayerBanner .mobArrow{
    width: 76px;
    height: 53px;
    float: left;
    display: block;
    margin-top: 200px;
    background: url('../images/app-arrow.png') no-repeat 0 0;
}
.appPlayerBanner .lapBlk{
    width: 624px;
    height: 442px;
    display: block;
    float: left;
    padding: 25px 83px 163px 86px;
    background: url('../images/app-laptop.png') no-repeat 0 0;
}
.appplayerDetails {
}
.appplayerDetails p{
    font-size: 18px;
    color: #868889;
    text-align: center;
    margin: 10px 5% 50px;
}
.appplayerDetails .DwndApp{
    width: 420px;
    height:78px;
    color:#fff;
    font-size:35px;
    text-align:center;
    line-height:70px;
    border:none;
    font-weight:300;
    margin:0 auto 45px;
    display: block;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #93d3da; /* Old browsers */
	background: -moz-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #93d3da), color-stop(100%, #76b3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* IE10+ */
	background: linear-gradient(to right, #93d3da 0%, #76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3', GradientType=1 ); /* IE6-9 */
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease;
}
.appplayerDetails .DwndApp:hover {
	background: #89cfd7; /* Old browsers */
	background: -moz-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #89cfd7), color-stop(100%, #70afd0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* IE10+ */
	background: linear-gradient(to right, #89cfd7 0%, #70afd0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89cfd7', endColorstr='#70afd0', GradientType=1 ); /* IE6-9 */
}
.DwndApp2{
    width: 250px;
    height:78px;
    color:#fff;
    font-size:35px;
    text-align:center;
    line-height:70px;
    border:none;
    font-weight:300;
    margin:0 auto 45px;
    display: block;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #93d3da; /* Old browsers */
	background: -moz-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #93d3da), color-stop(100%, #76b3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* IE10+ */
	background: linear-gradient(to right, #93d3da 0%, #76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3', GradientType=1 ); /* IE6-9 */
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease;
}
.DwndApp2:hover {
	background: #89cfd7; /* Old browsers */
	background: -moz-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #89cfd7), color-stop(100%, #70afd0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #89cfd7 0%, #70afd0 100%); /* IE10+ */
	background: linear-gradient(to right, #89cfd7 0%, #70afd0 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89cfd7', endColorstr='#70afd0', GradientType=1 ); /* IE6-9 */
}
.feedback {
    width: 850px;
    margin: 0px auto;
	overflow: hidden;
	padding-bottom: 40px;
}
.feedback .awards {
	float: left;
	width: 255px;
	text-align: center;
}
.feedback .awards article {
	padding:0 30px 0 0;
	font-size: 11px;
	line-height: 12px;
	text-align: center;
	display: inline-block;
}
.feedback .awards img {
	display: block;
	margin: 0 auto 12px auto;
}
.feedback .responses {
	float: right;
	padding-top: 15px;
}
.feedback .responses article {
	float: left;
	color: #89cde7;
	font-size: 18px;
	line-height: 22px;
	width: 250px;
	margin-right: 25px;
}
.feedback .responses article p{
    text-align: left;
    color: #89cde7;
    margin: 0;
}
.feedback .awards article a {
	display: block;
	vertical-align: middle;
}
.feedback .awards article p {
	display: inline-block;
	text-align: left;
	margin-left: 10px;
    font-size: 11px;
    text-align: center;
}
.btnggl{
    margin: 0 0 30px;
    padding: 0;
}
.btnggl li{
    display: block;
}
.btnggl li a{
    width: 350px;
    height: 75px;
    display: block;
    border: solid 1px #acdde3;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    margin: auto;
    margin-bottom: 10px;
    font-size:21px;
    line-height: 65px;
    font-weight: 100;
    text-align: center;
    color: #8ecdd9;
    position: relative;
}
.btnggl li a.active{
    background: #f4f4f4;
}
.btnggl li a.active:after{
    position: absolute;
    left: 12px;
    top: 18px;
    display: block;
    content: " ";
    width: 22px;
    height: 30px;
    background: url('../images/btn-tick.png') no-repeat top left;
    background-size:100%;
}
.careers {
    padding: 30px 0 63px;
}
.careers .appSubHead{
    line-height: 25px;
    margin: 0 0 25px;
    text-align: left;
}
.careers h4{
   font-size: 15px;
    color: #868889;
    font-weight: bold;
    margin-bottom: 20px;    
}
.pointList{
    font-size: 15px;
    color: #868889;
    margin-bottom: 20px;
    line-height: 25px;
}
.pointList li {
    position: relative;
    padding-left: 15px;
}
.pointList li span{
    color: #89cde7;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    top: 3px;
    display: block;
}
.careerText{
    color: #868889;
    font-size: 15px;
}
.teamPic{
    max-width: 100%;
    text-align: right;
    margin-bottom: 15px;
}
.team{
    padding: 30px 0;
}
.team article{
    margin-bottom: 50px;
}
.team article .image{
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
}
.infoBlk h3{
    font-size: 23px;
    color: #868889;
    font-weight: bold;
    margin: 0 0 0 0;
}
.infoBlk h3 a{
    color: #868889;
}
.infoBlk .role{
    font-size: 15px;
    font-style: italic;
    color: #89cde7;
}
.infoBlk p{
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
    margin-left: 130px;
    color: #868889;
}
.infoBlk p a{
    color: #89cde7;
    font-weight: bold;
}
.infoBlk .text-more{
    display: none;
}
.contacts-info {
    padding: 30px 0 50px;
}
.contacts-info h3{
    font-size: 22px;
    line-height: 25px;
    color: #868889; 
    margin:0 0 15px 0;
}
.contacts-info h4{
    color: #89cde7;
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.contacts-info p{
    font-size: 15px;
    color: #868889;
    line-height: 20px;
}
.contacts-info p em{
    font-style: normal;
}
.contacts-info .contactPic{
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.partners-logo{
    margin-bottom: 45px;
}
.partners-logo img{
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.about-container{

}
.about-container{

}
.about-container .device-banner.chart{
    width:100%;
}
.about-container .device-banner p {
  color: #909090;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  margin: 10px auto 0;
  text-align: center;
  width:100%;
}
.menu-container {
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
    max-width: 1250px;
    margin: 0px auto;
}
.menu-container ul li {
  display: inline-block;
  list-style:none;
}
.menu-container a {
    outline: none;
  color: #b7c4cb;
  font-size: 18px;
  width: 180px;
    display: block;
     line-height: 24px;
    float: left;
    -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.menu-container a.active, .menu-container a:hover {
    font-size: 36px;
    line-height: 24px;
}
.history {
  overflow: hidden;
  padding: 9px 0 52px;
  text-align: center;
}
.about-content-outer {
  margin-top: 65px;
}
.history article {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.history article img {
  display: block;
  margin: 0 auto 15px;
}
.history article .divider {
  height: 2px;
  margin: 0 0 13px;
  position: relative;
}
.history article .divider:after {
  background: url("../images/bg_sircle.png") no-repeat;
  content: "";
  display: block;
  height: 25px;
  left: 48%;
  position: absolute;
  top: -11px;
  width: 25px;
}
.about-content-outer .divider1 {
  background:#8acde7;
  bottom:103px;
  height: 2px;
  margin: 0 0 13px;
  position: relative;
}
.about-block-text {
  float: left;
  text-align: center;
  width: 100%;
}
.about-block-text {
  float: left;
  text-align: center;
  width: 100%;
}
.history article .date {
  color: #878988;
  font-size: 19px;
  font-weight: bold;
  line-height: 23px;
  padding: 0 0 2px;
}
.history article .about {
  color: #87888a;
  padding: 0 15px;
}
.about-info {
  color: #666;
  font-size: 18px;
  line-height: 22px;
  padding: 0 45px 67px;
}
.about-info p {
  color: #878787;
  padding: 0 0 8px;
}
.press-outer {
  padding-bottom: 60px;
}
.press-outer article {
  float: left;
  padding-bottom: 35px;
  width: 100%;
}
.press-outer .info-content {
  float: left;
  width: 82%;
    text-align:left;
}
.press-outer .info-content a {
  color: #89cde7;
  font-size: 18px;
}
.press-outer .info-content p {
  color: #868889;
  font-size: 18px;
  padding-top: 5px;
    text-align:left;
}
.press-outer .info-content h3 {
  color: #868889;
  font-size: 14px;
  margin-top: 10px;
}
.press-outer .info-content h6 {
  color: #868889;
  font-size: 14px;
  margin-top: 10px;
}
.press-outer .image {
  float: left;
  margin: 3px 20px 0 0;
}
.kit h3 {
  color: #868889;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  padding: 0 0 12px;
}
.kit .left p {
  color: #868889;
  font-size: 16px;
  padding: 0 0 24px;
  text-align:left;
}
.kit .left a {
  color: #89cde7;
}
.kit .right .download-box {
  display: inline-block;
  margin-left: 40px;
  width: 135px;
}
.btn-blue {
	border-radius:6px;
	background: #93d3da; /* Old browsers */
	background: -moz-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #93d3da), color-stop(100%, #76b3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* IE10+ */
	background: linear-gradient(to right, #93d3da 0%, #76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3', GradientType=1 ); /* IE6-9 */
	display: block;
	color: #fff;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
    height:46px;
    font-weight: normal;
}
.kit .right .download-box p {
  color: #868889;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  padding: 0 0 6px;
}
.contacts-info .right h3 {
  color: #868889;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 20px;
}
.contacts-info p {
  color: #868889;
  font-size: 16px;
  text-align:left;
}
.contacts-info .left {
  text-align: right;
}
/* Smartphones 290px ----------- */
@media (min-width: 290px) {
/* body{
    border:solid 1px black;
}*/
.elastislide-wrapper {
    height: 186px;
}
.elastislide-horizontal nav span.elastislide-next {
    top: 78px;
}
.elastislide-horizontal nav span.elastislide-prev {
    top: 78px;
}   
.elastislide-prev{
    background:url(../images/arrow-left.jpg) no-repeat #fff 5px 141px;
}
.signIn, .banner-container .pull-right span{
    display:none;
} 
.navbar{
    text-align:center;
}
.logo{
    float:none;
    display:inline-block;
}
.banner-mob-tittle{
    font-size:26px;
    color:#77b4d3;
    font-weight:700;
    margin:40px 0 0 0;
    text-align:center;
}
.bannerBox {
    margin-top:120px;
}
.banner-btnblock{
    display:none;
} 
.apps-whereverblock{
    
}
.apps-whereverblock h3{
    color:#89cde7;
    font-weight:700;
    font-size:28px;
    margin:0;
    text-align:center;
    padding-top:0;
    padding-bottom:30px;
}
.apps-whereverblock ul{
    margin:0;
    padding:0;
    width:100%;
    float:left;
    overflow:hidden;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
    background: #93d3da; /* Old browsers */
	background: -moz-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #93d3da), color-stop(100%, #76b3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #93d3da 0%, #76b3d3 100%); /* IE10+ */
	background: linear-gradient(to right, #93d3da 0%, #76b3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3da', endColorstr='#76b3d3', GradientType=1 ); /* IE6-9 */
}
.apps-whereverblock ul li{
    float:left;
    list-style:none;
    height:65px;
    line-height:65px;
    width:50%;
    text-align:center;
    
}
.apps-whereverblock ul li a{
    color:#fff;
    font-size:28px;
}
.apps-whereverblock ul li a.active {
  background: none repeat scroll 0 0 #fff;
  border: 2px solid #76b3d3;
  color: #89cde7;
  height: 65px;
  float:left;
  width:100%;
}
.apps-whereverblock ul li a:hover{
    text-decoration:none;
}
.appplay-outer ul{
    width:100%;
} 
.appplay-outer h6 {
  font-size: 32px;
  padding-top:110px;
}  
.appplay-outer ul li{
    width:100%;
}
.charactor-img {
  width: 100%;
}
.charactor-img img {
  width: 100%;
}
.multitask-content{
    padding:0;
    width:100%;
}
.multitask-content h3{
    display:none;
} 
.multitask-content p {
  font-size: 16px;
  line-height: 22px;
  padding-top:40px;
  text-align:center;
}
.mutitask-outer h4 {
  color: #868889;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  padding-bottom:50px;
}
.apps-safeblock .app-safe-img{
    width:100%;
}
.apps-safeblock .app-safe-img img{
    width:100%;
} 
.apps-safeblock .content{
    padding:0;
    width:100%;
} 
.apps-safeblock .content h3{
    display:none;
}
.apps-safeblock h4 {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  padding-bottom:50px;
}  
.apps-safeblock .content p{
    font-size:16px;
    font-weight:400;
    text-align:center;
    padding-top:60px;
}
.appplay-outer ul li{
    height:auto;
}  
.appplay-outer ul li img{
    width:100%;
}
.ready-playblock h1 {
  font-size: 38px;
  line-height: 249px;
}
footer ul{
    width:100%;
    text-align:center;
}
footer ul li{
    display:inline-block;
    padding:0 10px;
    float:none;
}
.socail-ftr{
    display:none;
}
ul.socail-ftr-mob {
  text-align: center;
  width: 100%;
}
.ready-playblock h1 {
  font-size: 38px;
  line-height: 65px;
  padding-bottom:30px;
}
.ready-playblock {
  padding-top: 65px;
}
.appplay-outer ul {
  margin: 0 auto;
  /*width: 93%;*/
}
.appplay-outer ul li{
  float:none;
}
#sortable2{
    width:100%;
    margin:0;
}
.ready-playblock a{
    font-size:36px;
}
.arrow{
    display: none;
}
/* Download page */
.download-banner {
  padding-top: 80px;
  width: 100%;
}
.download-banner h1 {
  color: #868889;
  font-size: 25px;
}
.download-banner ul li.step1 {
  padding-right: 0;
  width: 100%;
 padding-bottom:30px;
}
.download-banner ul li.step2 {
  padding-right: 0;
  width: 100%;
   padding-bottom:30px;  
}  
.download-banner ul li.step3 {
  width: 100%;
}
.download-banner ul li.step1 figure {
  float: left;
  margin-left: 30px;
  padding-top: 0;
}
.download-banner ul li.step2 figure {
  float: left;
  margin-left: 30px;
  padding-top: 0;
}
.download-banner ul li.step3 figure {
  float: left;
  margin-left: 30px;
  padding-top: 0;
}
.download-banner ul {
  padding: 90px 0 60px;
}
.olympics-outer .image {
  overflow: hidden;
  width: 100%;
}
.olympics-outer .content {
  float: left;
  padding-left: 0;
  width: 100%;
}
.olympics-outer .content h2 {
  font-size: 28px;
  padding: 30px 0 0;
}
.olympics-outer .content h3 {
  color: #fff;
  font-size: 18px;
  margin: 10px 0 0 0;
} 
.olympics-outer .content h4 {
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding-bottom: 60px;
  padding-top: 90px;
}  
.device-banner{
    width:100%;
}  
.banner-device-connected .device-lap {
  width: 100%;
  padding:0;
}
.banner-device-connected .device-lap figure{
    width:100%;
    background-size:100%;
    height:226px;
}
.banner-device-connected .device-lap figure .image {
  height: 131px;
  margin: 13px 50px 0 42px;
  width: 72%;
}
.banner-device-connected .device-system figure {
  height: 176px;
  width: 100%;
  background-size:100%;
}
.banner-device-connected .device-system {
  width: 100%;
 margin-bottom:60px;
 margin-bottom:60px;
}
.banner-device-connected .device-mob{
    padding-bottom:30px;
}
.banner-device-connected .device-mob figure {
  margin-bottom: 18px;
}
.lap.actAnim{
    background-size:100%;
}
.lap {
  background: url("../images/laptop-animation2-frame.gif") no-repeat scroll left top / 100% auto rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 314px;
  margin-left:0;
  width:100%;
  margin-top:100px;
  background-size:100%;
}
.bannerBox {
  width:100%;
  margin:0 auto;
  margin-top: 30px;
}
.main-popup{
    margin-top:0;
}
.main-popup h3 {
  margin-bottom: 10px;
}
.learn-moreblock{
    margin-top:60px;
    width:100%;
    float:left;
}
footer{
    padding:20px 0;
}
footer ul{
    padding:0;
}

.flip-container, .front, .back {
    width:100%;
}
	.flip-container .back > p{
		padding:20px 10px;
	}
.lap{
    margin-top:30px;
}
.flipper img {
  height: 197px;
  width: 100%;
}
	.download-latest-verB .banner-btnblock h4{
		font-size: 23px;
   	 line-height: 35px;
	}
	.download-latest-verB .banner-btnblock h3{
		font-size: 40px;
	}
	.download-latest-verB .banner-btnblock a {
		margin: 20px 0 0;
	}
	  .download-latest-verB h1{
		font-size: 22px;
		line-height: 32px;
		margin-top: 25px;
		  margin-bottom: 60px;
	}
	.download-latest-ver h1{
		font-size: 22px;
   		 line-height: 35px;
	}
    .phone{
        float: none;
        margin: 20px auto;
    }
    .multitask-content{
        text-align: center;
    }
    .multitask-content p{
        float: none;
    }
    .device-banner.chart{
        width: 100%;
    }
    .chartTable .block01 {
        width:100px;
    }
    .chartTable .block02 {
        width: 20%;
    }
    .chartTable .block03 {
        width: 20%;
    }
    .chartTable .block04 {
        width: 20%;
    }
    .chartTable .block05 {
        width: 20%;
    }
    .chartTable td img{
        max-width: 95%;
    }
    .chartTable .blk {
        font-size: 10px;
        padding: 0;
        text-align: center;
    }
    .chart-category h3{
        font-size: 12px;
    }
    .chartTable td img.mobLogo{
        display: block;
        margin: 5px auto;
        position: relative;
        top: -55px;
        width: 80px;
    }
    .showLarge{
        display: none;
    }
    .device-banner.chart{
        width: 100%;
        overflow: auto;
    }
    .device-banner.chart .inner-container{
        width: 450px;
        margin: 0px auto;
    }
    .device-banner.chart h1{
        font-size: 30px;
    }
    .appPlayerBanner {
        width: 100%;
        padding: 0;
    }
    .appPlayerBanner .mobApp{
        float: none;
        margin: 0 auto;
    }
    .appPlayerBanner .mobArrow{
        display:none;
    }
    .appPlayerBanner .lapBlk{
       display: none;
    }
    .feedback{
        width: 100%;
    }
    .appplayerDetails p {
        font-size: 14px;
        margin: 20px 0 30px;
    }
    .appplayerDetails .DwndApp{
        font-size: 25px;
        height: 60px;
        line-height: 55px;
        margin: 0 auto 10px;
        width: 290px;
    }
    .feedback .responses{
        float: none;
        width: 100%;
    }
    .feedback .responses article{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .feedback .responses article p{
        text-align: center;
    }
    .feedback .awards{
        margin: 0 auto;
        margin-top: 20px;
        float: none;
    }
    .btnggl li a{
        height: 65px;
        line-height: 55px;
        width: 290px;
    }
    .btnggl li a.active:after{
        top: 20px;
    }
    .teamPic{
        display: block;
        margin: 0px auto;
        margin-bottom: 25px;
    }
    .infoBlk p{
        margin-left: 0;
    }
}

@media (min-width: 320px) {
/*  body{
    border:solid 1px orange;
}*/
.elastislide-wrapper{
    min-height:215px;
}
    .banner-left-block{
        width:100%;
    }
    footer ul li{
        padding:0 8px;
    }
        .elastislide-wrapper {
        min-height: 222px;
    }
    .elastislide-horizontal ul li {
    max-height:222px !important;
    }
    .elastislide-wrapper nav span{
        top:32%;
    }
    
}
/* Small devices (phone landscape, 768px and up) ----------- */
@media (min-width: 480px) {
/*body{
    border:solid 1px darkred;
}*/
.flip-container, .front, .back {
    width:355px;
    padding: 1px, 1px, 1px, 1px;
} 
.arrow{
    display:block;
}
.appplay-outer ul {
  /*width: 93%;*/
}
.appplay-outer ul li{
    /*width:auto;*/
}
.charactor-img {
  display: inline-block;
  float: none;
  width:auto;
}

.mutitask-outer{
    text-align:center;
}
.multitask-content p {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
.mutitask-outer h4{
    font-size:50px;
}
.apps-safeblock h4{
    font-size:50px;
    padding-top:30px;
}
.apps-safeblock .content p {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}
.ready-playblock h1 {
  font-size: 55px;
}
footer ul li{
    float:none;
    padding: 0 36px;
}
footer ul li a {
  font-size: 18px;
}
.apps-whereverblock ul {
  margin: 0 auto;
  width: 75%;
  float:none;
}
.apps-safeblock .app-safe-img {
  display: inline-block;
  float: none;
  width: auto;
}
.apps-safeblock{
    text-align:center;
}
.socail-ftr{
    display:none;
} 
footer ul li {
  padding: 0 22px;
}
.banner-device-connected{
    overflow:hidden;
    padding-bottom:50px;
}   
.device-banner {
  margin: 0 auto;
  width: 100%;
}
.banner-device-connected .device-lap {
  float: left;
  padding-right: 17px;
  width:35%;
}
.banner-device-connected .device-lap figure {
  background: url("../images/diviceLap1.jpg") no-repeat;
  height: 112px;
  margin-bottom: 20px;
  width: 100%;
  background-size:100%;
}  
.banner-device-connected .device-lap figure .image {
  height: 64px;
  margin: 6px 15px 0 20px;
  width: 72%;
  background-size:100%;
} 
.banner-device-connected .arrowblue, .banner-device-connected .arrowblk {
  margin-top: 85px;
  background-size:100%;
  width:23px;
} 
.banner-device-connected .device-mob {
  width: 20%;
}
.banner-device-connected .device-mob figure {
  background: url("../images/diviceMob1.jpg");
  background-size:100%;
  height: 82px;
  margin-bottom: 43px;
  margin-top: 50px;
  width: 100%;
}
.banner-device-connected .device-mob figure .image {
  background-size: 100% auto;
  float: left;
  height: 66px;
  margin: 8px 5px 7px 3px;
  width: 86%;
} 
.banner-device-connected .device-system {
  width: 153px;
}
.banner-device-connected .device-system figure {
  background: url("../images/monitor.jpg") no-repeat;
  background-size:100%;
  height: 90px;
  width: 100%;
  margin-top:8px;
}   
.banner-device-connected .subtext {
  padding-top: 16px;
}
.lap {
  width:335px;
  margin-top:70px;
  margin-bottom:0;
}
#sortable2{
    width:75%;
}
footer ul li{
    float:none;
}
.arrow{
    display: block;
}
.lap{
    margin:0 auto;
   margin-top: 55px;
    float:none;
}
.phone {
  float: none;
  margin: 0 auto;
  width: 116px;
}
.elastislide-horizontal ul li{
    height:356px;
}	
.elastislide-horizontal nav span.elastislide-next {
    top: 171px;
}
.elastislide-horizontal nav span.elastislide-prev {
    top: 171px;
}
.elastislide-carousel ul li a img{
    height:100%;
}
}
@media (min-width: 360px) {
/*       body{
    border:solid 1px darkred;
}*/
.download-banner ul li.step1 {
  padding-right: 0;
  width: 188px;
}
.download-banner ul li.step2 {
  padding-right: 0;
  width: 175px;
}
.download-banner ul li.step3 {
  width: 215px;
}
.download-banner ul li.step1 figure {
  float: left;
  margin-left: 30px;
  padding-top: 25px;
}
.download-banner ul li.step2 figure {
  float: left;
  margin-left: 30px;
  padding-top: 26px;
}
.download-banner ul li.step3 figure {
  float: left;
  margin-left: 30px;
  padding-top: 23px;
}
footer ul li{
    float:none;
}
.ready-playblock a{
    font-size:48px;
}
        .arrow{
    display: block;
}
.banner-left-block{
    width:100%;
}
.lap {
  margin-bottom: 40px;
  margin-top: 40px;
}
.arrow{
    display:none;
}
	
}
@media (min-width:640px) {
/*   body{
    border:solid 1px lightblue;
}*/
    .arrow{
    display:block;
}
.phone {
  float: left;
  margin: 20px 65px 0 85px;
  width: 116px;
} 
.lap {
  float: left;
  margin: 55px auto 0;
}
.press-outer .info-content {
      width: 80%;
 }  
}
@media (min-width:617px) {
/*        body{
    border:solid 1px lightgreen;
}*/
.banner-left-block {
        float: none;
        width: 100%;
        margin: 0 auto;
}
 .lap{
        margin-top:50px;
}
.arrow {
  display: none;
}
}
@media screen and (max-width:767px) {
    .history {
		padding: 6px 0 0 0;
		position: relative;
		margin: 0 0 30px 0;
	}
	.history:after {
		background: #8cc8f0;
		width: 2px;
		position: absolute;
		top: 20px;
		left: 50%;
		bottom: 15px;
		content: "";
		margin: 0 0 0 -1px;
	}
	.history article {
		width: 50%;
		padding: 0 6% 0 13% !important;
		min-height: 215px;
		position: relative;
	}
	.history article:after {
		background: url(../images/bg_sircle.png) no-repeat;
		background-size: 13px 13px;
		position: absolute;
		top: 65px;
		right: -6px;
		content: "";
		height: 13px;
		width: 13px;
		display: block;
		z-index: 9;
	}
	.history article:before {
		background: url(../images/bg_arrow.png) no-repeat;
		position: absolute;
		top: 70px;
		right: 7px;
		content: "";
		height: 4px;
		width: 3px;
		background-size: 6px 4px;
		display: block;
		z-index: 9;
	}
	.history article.step-2:after {
		top: 180px;
	}
	.history article.step-2:before {
		top: 185px;
	}
	.history article.right:after {
		left: -6px;
	}
	.history article.right:before {
		left: 7px;
		background: url(../images/bg_arrow.png) no-repeat -3px 0;
		background-size: 6px 4px;
	}
	.history article.last {
		min-height: 0;
	}
	.history article.step-4.last {
		min-height: 0;
		clear: both;
	}
	.history article img {
		margin: 0 0 5px 0;
		width: 100%;
	}
	.history article.step-3, .history article.step-1, .history article.step-5 {
		float: right;
		padding: 0 13% 0 6% !important;
	}
	.history article.step-2 {
		padding-top: 115px !important;
	}
	.history article h2 {
		font-size: 11px;
		line-height: 14px;
		padding-bottom: 4px;
	}
	.history article h2.line-1 {
		padding-top: 0;
	}
	.history article .date {
		font-size: 18px;
		line-height: 24px;
		padding: 0;
	}
	.history article .about {
		padding: 0 5px;
		font-size: 13px;
		line-height: 17px;
	}
    .about-content-outer .divider1{
        display:none;
    }
    .history article .divider:after{
        display:none;
    }
    .press-outer .info-content {
      width: 80%;
    }
    .contacts-info .left img{
        width:100%;
    }
}
/*tablet*/
@media (min-width: 768px) {
/*    body{
    border:solid 1px brown;
}*/
    .arrow{
        display: block;
    }
	.appplay-outer{
        margin-top:60px;
	}
	.appplay-outer ul li{
		width:49%;
	}
	.main-popup{
		padding:39px;
		background: url("../images/dot-strip.jpg") repeat-y scroll center center #fff;
		left:0%;
		right:0%;
		top: 5%;
		width: 90%;
	}
	.popup-left{
		width:45%;
	}
	.popup-right{
		width:45%;
	}
	.textbox {
	margin: 0 0 25px;
	}
	.popup-btnleft{
    margin:55px 0 25PX;
	}
	.popup-btnright{
    margin: 55px 0 25px;
	}
	.main-popup h3{
	font-size:20px;
	}
	.textbox form fieldset input {
	height: 40px;
	font-size:16px;
	}
	.popup-btnright button{
    height:55px;
	}
	.popup-btnleft button{
    height:55px;
	}
	.download-latest-verB .banner-btnblock h4{
		font-size: 32px;
   	 line-height: 35px;
	}
	.download-latest-verB .banner-btnblock h3{
		font-size: 48px;
	}
	.download-latest-verB .banner-btnblock a {
		margin: 20px 0 0;
	}
    .download-latest-verB h1{
		font-size: 36px;
    	line-height: 44px;
		margin-top: 40px;
	}
	.download-latest-ver h1{
		font-size: 36px;
   		 line-height: 44px;
	}
    .device-banner.chart .inner-container{
        width: 700px;
    }
    .device-banner.chart h1 {
        font-size: 40px;
        margin-bottom: 65px;
    }
    .chartTable td img.mobLogo {
        top: -65px;
        width: 100px;
    }
    .chartTable .blk {
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }
    .appPlayerBanner {
        width: 100%;
        padding: 0;
    }
    .appPlayerBanner .mobApp{
        margin: 25px auto;
    }
    .appPlayerBanner .mobArrow {
        display: none;
    }
    .appPlayerBanner .lapBlk{
       display: block;
        margin: auto;
        float: none;
    }
    .feedback{
        width: 100%;
    }
    .appplayerDetails p {
        font-size: 18px;
        margin: 20px 5% 40px;
    }
    .appplayerDetails .DwndApp{
        font-size: 25px;
        height: 60px;
        line-height: 55px;
        margin: 0 auto 10px;
        width: 290px;
    }
    .feedback .responses{
        float: none;
        width: 100%;
    }
    .feedback .responses article{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .feedback .responses article p{
        text-align: center;
    }
    .feedback .awards{
        margin: 0 auto;
        margin-top: 20px;
        float: none;
    }
    .btnggl li a {
      height: 48px;
      line-height: 45px;
      width: 225px;
    }
    .btnggl li a.active:after{
        top: 13px;
    }
}

/* Medium devices (desktops, 980px and up) */
@media (min-width: 980px) {
/*    body{
    border:solid 1px blue;
}*/

.banner-mob-tittle {
    display:none;
}
.signIn {
  display: block;
}
.logo {
  display: block;
  float: left;
} 
.apps-whereverblock {
   display:none;
}
.banner-btnblock {
  display: block;
  margin:120px auto 0;
  width:100%;
 margin-left:0 !important;
}  
.banner-btnblock a{
    margin:0 210px;
    margin-top:15px;
}
.appplay-outer ul {
   margin: 0 auto;
   width:100%;
}
.appplay-outer ul li{
	width:24.5%;
}
.appplay-outer h6 {
  font-size: 18px;
  font-weight: 300;
  padding: 0 0 25px;
}  
.multitask-content h3 {
  text-align: left;
}
 
.download-banner {
  margin: 0 auto;
  padding-top: 120px;
  width: 750px;
}
.download-banner ul li.step1 {
  padding-right: 25px;
  width: 235px;
}
.download-banner ul li.step2 {
  padding-right: 45px;
  width: 255px;
}
.download-banner ul li.step3 {
  width: 210px;
}
.download-banner ul li.step1 figure {
  float: left;
  margin-left: 50px;
  padding-top: 15px;
}
.download-banner ul li.step2 figure {
  float: left;
  margin-left: 38px;
  padding-top: 22px;
}
.download-banner ul li.step3 figure {
  float: left;
  margin-left: 40px;
  padding-top: 0;
}
.olympics-outer .image {
  width: 60%;
}
.olympics-outer .image img {
  width: 100%;
}
.olympics-outer .content {
  float: left;
  padding-left: 5%;
  width:40%;
}
.olympics-outer .content h2 {
  font-size: 24px;
}
.olympics-outer .content h3 {
  font-size: 16px;
}
.device-banner {
  margin: 0 auto;
  width: 100%;
}
.banner-device-connected .device-lap {
  float: left;
  padding-right: 17px;
  width:35%;
}
.banner-device-connected .device-lap figure {
  background: url("../images/diviceLap1.jpg") no-repeat;
  height: 186px;
  margin-bottom: 38px;
  width: 100%;
  background-size:100%;
}  
.banner-device-connected .device-lap figure .image {
  background: url("../images/game-bg.png");
  height: 108px;
  margin: 11px 15px 0 35px;
  width: 72%;
} 
.banner-device-connected .arrowblue, .banner-device-connected .arrowblk {
  margin-top: 105px;
} 
.banner-device-connected .device-mob {
  width: 20%;
}
.banner-device-connected .device-mob figure {
  background: url("../images/diviceMob1.jpg");
  background-size:100%;
  height: 190px;
  margin-bottom: 43px;
  margin-top: 32px;
  width: 100%;
}

.banner-device-connected .device-mob figure .image {
  float: left;
  height: 152px;
  margin: 17px 5px 7px 6px;
   width:90%;
} 
.banner-device-connected .device-system {
  width:233px;
}
.banner-device-connected .device-system figure {
  background: url("../images/monitor.jpg");
  background-size:100%;
  height: 143px;
  width: 100%;
}   
.banner-device-connected .subtext {
  padding-top: 63px;
} 
.main-popup{
		left:0;
		right:0;
		top: 10%;
		width:70%;
	}
	.textbox {
	margin: 0 0 25px;
	}
	.popup-btnleft{
    margin:55px 0 25PX;
	}
	.popup-btnright{
    margin: 55px 0 25px;
	}
	.main-popup h3{
	font-size:20px;
	}
	.textbox form fieldset input {
	height: 40px;
	font-size:16px;
	}
	.popup-btnright button{
    height:55px;
	}
	.popup-btnleft button{
    height:55px;
	}
    .elastislide-wrapper {
        min-height: 525px;
    }
    .elastislide-horizontal ul li {
    max-height:526px !important;
    }
    .elastislide-carousel{
        height:525px;
    }
    .elastislide-horizontal nav span.elastislide-next{
        top:52%;
    }
    .elastislide-horizontal nav span.elastislide-prev{
        top:52%
    }
    .appPlayerBanner {
        padding: 30px;
        width: 940px;
    }
    .appPlayerBanner .mobApp{
        float: left;
        margin-right: 30px;
        margin-top: 75px;
    }
    .appPlayerBanner .mobArrow{
        display: block;
    }
    .appPlayerBanner .lapBlk{
        float: left;
    }
    .feedback {
        width: 850px;
    }
    .feedback .responses {
        width: auto;
        float: right;
        padding-top: 15px;
    }
    .feedback .responses article{
        width: 250px;
        float: left;
        margin-top: 15px;
    }
    .feedback .awards{
         float: left;
    }
    .feedback .responses article p{
        text-align: left;
    }
    .appplayerDetails .DwndApp {
        font-size: 35px;
        height: 78px;
        line-height: 70px;
        width: 420px;
        margin: 0 auto 45px;
    }
    .infoBlk p{
        margin-left: 130px;
    }
}
@media (min-width: 768px) {
/*body{
    border:solid 1px grey;
}*/
.bannerBox {
   margin: 0 auto 0;
   width: 715px;
}
.banner-mob-tittle {
   display:none;
}
.signIn, .banner-container .pull-right span {
  display:block;
}
    
.logo {
  display:block;
  float:left;
}
.apps-whereverblock{
    display:none;
}
.banner-btnblock{
    display:block;
    margin:0 auto 0;
    margin-left:0;
    width:100%;
}
.banner-btnblock a{
    margin:0 200px;
    margin-top:10px;
}
.bannerBox {
  margin: 30px auto 0;
}
.appplay-outer h6 {
  padding-top: 0;
}
.socail-ftr{
    display:none;
}
ul.socail-ftr-mob{
    display:block;
    width:29%;
}   
.appplay-outer ul {
  /*width: 710px;*/
}
.appplay-outer ul li {
  /*float: left;*/
  /*width: 355px;*/
}
ul.socail-ftr-mob {
  width: 40%;
} 
.olympics-outer .image img{
    width:100%;
}
.device-banner {
  margin: 0 auto;
  width: 100%;
}
.banner-device-connected .device-lap {
  float: left;
  padding-right: 17px;
  width:35%;
}
.banner-device-connected .device-lap figure {
  background: url("../images/diviceLap1.jpg") no-repeat;
  height: 186px;
  margin-bottom: 38px;
  width: 100%;
  background-size:100%;
}  
.banner-device-connected .device-lap figure .image {
  background: url("../images/game-bg.png");
  height: 108px;
  margin: 11px 15px 0 35px;
  width: 72%;
} 
.banner-device-connected .arrowblue, .banner-device-connected .arrowblk {
  margin-top: 105px;
} 
.banner-device-connected .device-mob {
  width: 20%;
}
.banner-device-connected .device-mob figure {
  background: url("../images/diviceMob1.jpg");
  background-size:100%;
  height: 190px;
  margin-bottom: 43px;
  margin-top: 32px;
  width: 100%;
}
.banner-device-connected .device-mob figure .image {
  float: left;
  height: 152px;
  margin: 17px 5px 7px 6px;
   width:90%;
} 
.banner-device-connected .device-system {
  width:233px;
}
.banner-device-connected .device-system figure {
  background: url("../images/monitor.jpg");
  background-size:100%;
  height: 143px;
  width: 100%;
}   
.banner-device-connected .subtext {
  padding-top: 63px;
} 
.banner-left-block{
    width:100%;
}
.lap {
  float: left;
  height: 267px;
  margin-left: 35px;
  width: 339px;
  margin-top:0;
}
.banner-device-connected .device-system figure {
  height: 142px;
} 
.download-banner ul li.step1 {
  padding-right: 0;
  width: 225px;
}
.download-banner ul li.step2 {
  padding-right: 0;
  width: 225px;
}
}
@media (min-width: 1024px) {
/*   body{
    border:solid 1px pink;
}*/
    .appplay-outer{
        margin-top:110px;
    }
.banner-device-connected .device-lap {
  float: left;
  padding-right: 17px;
  width: 389px;
}
.banner-device-connected .device-lap figure .image {
  float: left;
  height: 170px;
  margin: 17px 50px 0 55px;
  width: 265px;
}
.banner-device-connected .device-lap figure {
  height: 291px;
  margin-bottom: 38px;
  width: 369px;
}
.banner-device-connected .device-mob figure {
  height: 259px;
  margin-bottom: 62px;
  margin-top: 49px;
  width: 131px;
}
.banner-device-connected .device-mob figure .image {
  float: left;
  height: 210px;
  margin: 23px 5px 26px 6px;
  width: 120px;
}
.banner-device-connected .device-system {
  width: 316px;
}
.banner-device-connected .device-system figure {
  height: 196px;
}
.banner-device-connected .subtext {
  padding-top: 107px;
}
.banner-btnblock{
    margin-top:120px;
}
.lap {
  float: left;
  height: 267px;
  margin-left: 35px;
  width: 339px;
  margin-top:0;
}
.phone{
    margin:20px 65px 0 85px;
}
.textbox {
	margin: 0 0 25px;
	}
	.popup-btnright{
    margin: 51px 0 25px;
	}
	.main-popup h3{
	font-size:20px;
	}
	.popup-btnright button{
    height:55px;
	}
	.popup-btnleft button{
    height:55px;
	}

.flip-container{
    width:33%;
}
.flipper img{
    width:100%;
}
 .front, .back {
    width:100%;
} 
.banner-btnblock h3 {
  margin-top: -20px;
}
    .showLarge {
    display: block;
}
    .chartTable td img.mobLogo{
        display: none;
    }
    .device-banner.chart .inner-container {
        width: 100%;
        margin-bottom: 50px;
    }
    .device-banner.chart {
        width: 1000px;
    }
    .chartTable .block01 {
        width: 275px;
    }
    .chartTable .block02 {
        width: 180px;
    }
    .chartTable .block03 {
        width: 180px;
    }
    .chartTable .block04 {
        width: 180px;
    }
    .chartTable .block05 {
        width: 180px;
    }
    .device-banner.chart h1{
        margin-bottom: 20px;
    }
    .chart-category h3{
        font-size: 18px;
    }
    .container.containerChart{
        padding: 0;
        width: 100%;
    }
}
@media (min-width: 960px) {
/*    body{
    border:solid 1px rose;
}*/
.download-banner ul li.step1 {
  padding-right: 25px;
  width: 235px;
}
.download-banner ul li.step2 {
  padding-right: 45px;
  width: 255px;
}
.olympics-outer .image {
  overflow: hidden;
  width: 60%;
}
.olympics-outer .content {
  float: left;
  padding-left: 5%;
  width: 40%;
}
.olympics-outer .content h4{
    padding-bottom:0;
}
.about-container{
    width:780px;
    margin:0 auto;
}
.press-container{
    width:780px;
    margin:0 auto;
}
.press-container .device-banner{
    width:100%;
}
}
/* Desktops and laptops ----------- */
@media (min-width: 1224px) {
/*body{
    border:solid 1px yellow;
}*/
.navbar{
    text-align:left;
}
.signIn{
    display:block;
}
.banner-btnblock{
    display:block;
}
.banner-mob-tittle{
    display:none;
}
.apps-whereverblock{
    display:none;
}
.appplay-outer h6 {
  font-size: 18px;
  font-weight: 300;
  padding: 0 0 10px;
} 
.appplay-outer ul {
 /* width: 1420px;*/
}
.appplay-outer ul li {
  /*width: 355px;*/
} 
.multitask-content h3{
    display:block;
}
.charactor-img {
  width:auto;
}
.multitask-content {
  padding-left: 0;
  width: 520px;
  float:right;
} 
.mutitask-outer h4{
    display:none;
}  
.multitask-content p {
  font-size: 23px;
  line-height: 26px;
  padding:0;
  text-align:left;
} 
.appplay-outer ul li{
    /*float:left;*/
}
.apps-safeblock .app-safe-img {
  width:auto;
} 
.apps-safeblock .content {
  padding-left: 0;
  padding-top: 150px;
  width: 520px;
  float:right;
}
.apps-safeblock .content h3{
    display:block;
} 
.apps-safeblock .content p {
  color: #fff;
  font-size: 24px;
  text-align:left;
  padding:0;
  font-weight:300;
}
.apps-safeblock h4{
    display:none;
} 
.charactor-img{
    float:left;
}
.apps-safeblock .app-safe-img{
    float:left;
}
footer ul{
    width:auto;
    text-align:left;
}
footer ul li a {
  font-size: 15px;
}
footer ul li a:hover{
    color:#464646;
    text-decoration:none;
}
.ready-playblock h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: auto;
} 
.bannerBox {
  width:100%;
  margin:0 auto;
  margin-top: 120px;
}

ul.socail-ftr-mob{
    display:none;
}
ul.socail-ftr{
    display:block;
} 

.download-banner {
  margin: 0 auto;
  padding-top: 120px;
  width: 750px;
} 
.download-banner ul li.step1 {
  padding-right: 25px;
  width: 235px;
}
.download-banner ul li.step2 {
  padding-right: 45px;
  width: 255px;
}
.download-banner ul li.step3 {
  width: 210px;
}
.download-banner ul li.step1 figure {
  float: left;
  margin-left: 50px;
  padding-top: 15px;
}
.download-banner ul li.step2 figure {
  float: left;
  margin-left: 38px;
  padding-top: 22px;
}
.download-banner ul li.step3 figure {
  float: left;
  margin-left: 40px;
  padding-top: 0;
}
.olympics-outer .content {
  float: left;
  padding-left: 40px;
  width: 455px;
}
.olympics-outer .image {
  overflow: hidden;
  width:auto;
}
.olympics-outer .content h2 {
  color: #fff;
  font-size: 36px;
  margin: 0;
  padding: 100px 0 0;
}
.olympics-outer .content h3 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}
.olympics-outer .content h4 {
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 215px 0 0 0;
}
.download-banner h1 {
  color: #868889;
  font-size: 36px;
  margin: 0;
  text-align: center;
}
.device-banner {
  margin: 0 auto;
  width: 1125px;
}
.banner-device-connected .device-lap {
  float: left;
  padding-right: 17px;
  width: 389px;
}
.banner-device-connected .device-lap figure {
  height: 291px;
  margin-bottom: 38px;
  width: 369px;
}
.banner-device-connected .device-lap figure .image {
  float: left;
  height: 170px;
  margin: 17px 50px 0 55px;
  width: 265px;
} 
.banner-device-connected .device-mob {
  width: 179px;
} 
.banner-device-connected .device-mob figure {
  height: 259px;
  margin-bottom: 62px;
  margin-top: 49px;
  width: 131px;
}  
.banner-device-connected .device-mob figure .image {
  float: left;
  height: 210px;
  margin: 23px 5px 26px 6px;
  width: 120px;
}
.banner-device-connected .device-system {
  width: 462px;
} 
.banner-device-connected .device-system figure {
  height: 290px;
  width: 445px;
}
.banner-device-connected .subtext {
  padding-top: 36px;
}  
.banner-device-connected .arrowblue, .banner-device-connected .arrowblk {
  margin-top: 160px;
}
.banner-device-connected .arrowblue, .banner-device-connected .arrowblk {
  width:45px;
  height:30px;
} 
.lap {
  background: url("../images/laptop-animation2-frame.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 267px;
  margin-left:0;
  width: 339px;
  margin-top:0;
}  
.phone {
  margin: 20px 40px 0 110px;
}
.banner-btnblock {
    width: 37%;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    float: right;
}
.banner-btnblock a {
    color: #77b4d3;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 50px 65px 50px;
    display: inline-block;
}
.banner-btnblock h3 {
    margin: 50px 0 0 0;
    font-size:38px;
}
.main-popup{
    margin-top:10%;
    width:70%;
}
.apps-safeblock .content h3{
    text-align: left;
}
.ready-playblock h1{
   /* padding:130px 0 188px 0;*/
}
.appplay-outer{
    margin-top:0;
}
.learn-moreblock {
    margin-top: 110px;
    position:absolute;
    bottom:0;
}
.home-banner{
    height:100vh;
   position:relative;
    min-height:650px;
}
.banner-btnblock button{
    line-height:75px;
}
footer{
    padding: 20px 0 20px 0;
}
footer ul{
    padding:18px 0  0;
}
.flip-container{
	height: 197px;
    display:inline-block;
    width:24%;
    padding: 1px, 1px, 1px, 1px;
}
.flipper img{
    width:100%;
}
.front, .back{
    width:100%;
}   
.app-liabray{
    width:100%;
    margin:0 auto;
}
.arrow{
    display: block;
}
.main-popup {
  margin-top: 10%;
  width: 70%;
  max-width:700px;
}
}
@media (min-width: 1920px) {
/*   body{
    border:solid 1px black;
}*/
    .home-banner{
        height:100vh;

    }
    .learn-moreblock{
        position:absolute;
        bottom:0;
    }
    .app-liabray {
        width:76% !important;
        text-align: center;
        margin: 0 auto;
    }
.flip-container, .front, .back {
    width: 320px;
    height: 197px;
    display: inline-block;
    padding: 1px, 1px, 1px, 1px;
}
    .bannerBox{
        margin-top:245px;
    }
}
@media (min-width: 1680px) {
/*    body{
        border:solid 1px orange;
    }*/
    .app-liabray {
        width:100%;
        text-align: center;
        margin: 0 auto;
    }
        .learn-moreblock{
        position:absolute;
        bottom:0;
    }
    
.flip-container, .front, .back {
    width: 355px;
    height: 197px;
    display: inline-block;
    padding: 1px, 1px, 1px, 1px;
}
    .home-banner{
        height:100vh;
    }

@media (min-width: 1600px) {
   /*body{
    border:solid 1px green;
}*/
    .app-liabray {
        width:100%;
        text-align: center;
        margin: 0 auto;
    }
    .home-banner{
        height:100vh;
    }
        .learn-moreblock{
        position:absolute;
        bottom:0;
    }
    .flip-container{
        width:355px;
        padding: 1px, 1px, 1px, 1px;
    }
    .learn-moreblock {
      bottom: 0 !important;
        position:absolute;
    }
    .about-container{
        width:780px;
        margin:0 auto;
    }
}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/*body{
    border:solid 1px red;
}*/
.home-banner{
        height:100vh;
    }
}

    