<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uninstall Feedbacks</title>

    <link href="/uninstall_feedback/static/css/tx3-tag-cloud.css"  media="screen" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/uninstall_feedback/static/js/jquery.1.11.0.min.js"></script>

    <script type="text/javascript" src="/uninstall_feedback/static/js/jquery.tx3-tag-cloud.js" ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#tagcloud").tx3TagCloud({
            multiplier: 5 // default multiplier is "1"
            });
        });

        function on_link_click(keyword) {
            var please_wait = document.getElementById("please_wait");
            please_wait.innerHTML = 'Please Wait';
            $.ajax({
                url: "/uninstall_feedback/get_feedbacks/",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({keyword: keyword}),
                success: function(results){
                    populate_feedbacks(results);
                    please_wait.innerHTML = '';
                },
                error: function() {
                    please_wait.innerHTML = 'Error';
                }
            });
        }

        function on_repopulate_click() {
            var please_wait = document.getElementById("please_wait");
            please_wait.innerHTML = 'Please Wait';
            var repopulate_btn = document.getElementById("repopulate_btn");
            repopulate_btn.disabled = true;
            $.ajax({
                url: "/uninstall_feedback/repopulate/",
                success: function(result){
                    var div = document.getElementById("last_updated");
                    div.innerHTML = result;
                    repopulate_btn.disabled = false;
                    please_wait.innerHTML = '';
                    window.location.replace("/uninstall_feedback/tagcloud/");
                },
                error: function() {
                    please_wait.innerHTML = 'Error';
                }
            });
        }

        function search_btn_click() {
            var please_wait = document.getElementById("please_wait");
            please_wait.innerHTML = 'Please Wait';
            var search_ip = document.getElementById("search_ip");
            $.ajax({
                url: "/uninstall_feedback/get_feedbacks/",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({keyword: search_ip.value}),
                success: function(results){
                    populate_feedbacks(results);
                    please_wait.innerHTML = '';
                },
                error: function() {
                    please_wait.innerHTML = 'Error';
                }
            });
        }

        function populate_feedbacks(results) {
            var l = results.length;
            var table = document.getElementById("data_table");
            var i = 0;

            $("#data_table tr").remove();

            while(i < l){
                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                cell1.innerHTML = String(results[l -1 -i][1]) + " - " + String(results[l -1 -i][2]);
                i++;
            }
        }
    </script>

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label id="please_wait" style="color: crimson; font-size: x-large"> </label>
                </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                Last Updated:
                </div>
            <div class="col-md-1" id="last_updated">
                {{ template_values.last_updated }}
                </div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="button" onclick="on_repopulate_click()" id="repopulate_btn"> Re-Populate </button>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search your own phrase" id="search_ip">
                        <div class="input-group-btn">
                          <button class="btn btn-primary" type="button" id="search_btn" onclick="search_btn_click()">
                            <i class="glyphicon glyphicon-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>

                <table>
                    <thead>
                        <tr>
                            <td>
                                <b> Similar User Uninstall Feedbacks </b>
                                </td>
                            </tr>
                        <tr>
                            <td>
                                </td>
                            </tr>
                        </thead>
                    <tbody id="data_table">

                        </tbody>

                    </table>

                </div>

            <div class="col-md-6">
                <ul id="tagcloud">
                    {% for bigram in template_values.bigram_list %}
                    <li data-weight="{{ bigram.freq }}"><a onclick="on_link_click('{{bigram.keyword}}')">{{ bigram.keyword }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>


        </div>


</body>
</html>